{% extends "homes/base.html" %}

{% block title %}<title>Объект Арендаторы ID {{single_arendator.id}}</title>{% endblock title %}

{% load static from staticfiles %}
{% load sity_franshise %}
{% load dead_line %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/modal_form.css" %}">
<link rel="stylesheet" href="{% static "css/jquery-ui-timepicker-addon.css" %}">
{% endblock extra_css %}
{% block content %}


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li><a href="{% url "arendators" %}">Арендаторы</a></li>
                        <li class="active">ID {{single_arendator.id}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row search-object">
                <div class="wrap-buyers">
                    <div class="col-md-12">
                        <div class="col-md-12 buyers-card">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 buyers-info">
                                            <div class="col-md-8">
                                                <h2 class="buyers-id">
                                                    <a href="#" id="single_arendator_id" single_arendator_id="{{single_arendator.id}}">ID {{single_arendator.id}}</a> 
                                                    {% if single_arendator.price_from or single_arendator.price_to %}
                                                        <span class="buyers-price-arend">
                                                            {% if single_arendator.price_from %}
                                                                от {{ single_arendator.price_from }}
                                                                {{ nac_carrency }}
                                                            {% endif %}
                                                            {% if single_arendator.price_to %}
                                                                до {{ single_arendator.price_to }}
                                                                {{ nac_carrency }}
                                                            {% endif %}
                                                         </span>
                                                    {% endif %}
                                                </h2>
                                                <p class="buyers-more-info">
                                                    {% if single_arendator.rooms_from or single_arendator.rooms_to %}
                                                        <i class="fa fa-building"></i>
                                                        {% if single_arendator.rooms_from %}
                                                            от {{ single_arendator.rooms_from }}
                                                        {% endif %}
                                                        {% if single_arendator.rooms_to %}
                                                            до {{ single_arendator.rooms_to }}
                                                        {% endif %}
                                                        
                                                    
                                                    {% endif %}
                                                    {% if single_arendator.floors_from or single_arendator.floors_to %}
                                                        <i class="fa fa-building-o"></i>
                                                        {% if single_arendator.floors_from %}
                                                            {{ single_arendator.floors_from }}
                                                        {% endif %}
                                                        {% if single_arendator.floors_to %}
                                                            / {{ single_arendator.floors_to }}
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if single_arendator.number_of_persons %}
                                                        <i class="fa fa-male"></i>
                                                        {{ single_arendator.number_of_persons }}
                                                    {% endif %}
                                                    {% if single_arendator.type_client %}
                                                        <i class="fa fa-universal-access"></i>
                                                        {{ single_arendator.type_client }}
                                                    {% endif %}
                                                </p>
                                                <p class="buyers-local">
                                                    <i class="fa fa-map-marker"></i> 
                                                    <span>г. {% sity_franshise %},
                                                        {% for district in single_arendator.district_obj.all %}
                                                            {{ district }} район
                                                        {% endfor %}
                                                    </span>

                                                    
                                                </p>
                                                <p class="buyers-comment">
                                                    {% if single_arendator.email %}
                                                        <span>E-mail:</span>
                                                        {{ single_arendator.email }}<br>
                                                    {% endif %}
                                                    {% if single_arendator.type_stage %}
                                                        <span>Этап:</span> {{single_arendator.type_stage}}
                                                    {% endif %}
                                                    <div class="object-comment-short" style="margin-top:-2.4%;">
                                                        <div class="object-comment-long">
                                                            <p >
                                                                <strong>Комментарий:</strong>
                                                                {{ single_arendator.comment }} {# коментарі до обєкту #}
                                                            </p>
                                                        </div>
                                                    {% if single_arendator.comment %}
                                                        <span style="font-weight: bold; font-size: 14px;">Комментарий:</span>
                                                        {{ single_arendator.comment|truncatechars:200 }}
                                                    {% endif %}
                                                    </div>
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-sm-6 prop">
                                                <p class="buyers-prop">
                                                    <i class="fa fa-user"></i>
                                                    {{ single_arendator.name }}
                                                </p>
                                                <p class="buyers-prop-phone">
                                                    {{ single_arendator.phone_first }}
                                                </p>
                                                <p class="buyers-data-call">
                                                    Дата звонка
                                                    <br>
                                                    <input class="call_date" id="call-date-{{ single_arendator.id }}" value="{{ single_arendator.call_date }}" type="text" placeholder="">
                                                    <script>
                                                        $("#call-date-{{ single_arendator.id }}").datepicker({monthNames: ['Январь', 'Февраль', 'Март', 'Апрель','Май', 'Июнь', 'Июль', 'Август', 'Сентябрь','Октябрь', 'Ноябрь', 'Декабрь'], dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'], firstDay: 1}).datepicker();
                                                    </script>
                                                </p>
                                                <p class="buyers-commission">
                                                    <i class="fa fa-user"></i>
                                                    {% for ri in single_arendator.rieltor.all %}
                                                        {{ ri }}
                                                    {% endfor %}
                                                    <br>
                                                    Комиссия: <span>
                                                    {% if single_arendator.commission %}
                                                        {{ single_arendator.commission }} {{ nac_carrency }}
                                                    {% endif %}
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-sm-6 edit">
                                                <p class="buyers-edit">
                                                {% if not single_arendator.trash %}
                                                    <a href="{% url "edit_arendator" single_arendator.id %}"><i class="fa fa-pencil"></i> </a>
                                                {% else %}
                                                    <a href=""><i id-obj="{{ single_arendator.id }}" class="fa fa-arrows-alt"></i></a>
                                                {% endif %}
                                                    <a href="#"><i id-obj="{{ single_arendator.id }}" class="fa fa-times"></i> </a>
                                                </p>
                                                <p class="buyers-stat">
                                                <select id="type-state">
                                                    {% for state in list_state %}
                                                        {% if state.id == single_arendator.type_state.id %}
                                                            <option selected="selected" value="{{state.id}}">{{state}}</option>
                                                        {% else %}
                                                            <option value="{{state.id}}">{{state}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                </p>
                                                <p class="buyers-data-view">
                                                   Сроки
                                                    <br>
                                                    <input class="call_date" id="term-{{ single_arendator.id }}" value="{{ single_arendator.date_term }}" type="text" placeholder="">
                                                    <script>
                                                        $("#term-{{ single_arendator.id }}").datepicker({monthNames: ['Январь', 'Февраль', 'Март', 'Апрель','Май', 'Июнь', 'Июль', 'Август', 'Сентябрь','Октябрь', 'Ноябрь', 'Декабрь'], dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'], firstDay: 1}).datepicker();
                                                    </script>
                                                </p>
                                                <p class="buyers-data-update">
                                                   Дата обновления<br> 
                                                    <i class="fa fa-calendar"></i> 
                                                    {{ single_arendator.review_date }}
                                                </p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tabs">
                        <ul class="main-tabs">
                            <li class="tabs-active"><a class="btna" id="get_comment_arendator" href="#">Комментарии <span class="label label-default">{{ single_obj_comments|length }}</span></a></li>
                            
                            <li><a class="btna" id="get_object_arendator" href="#">Подобрать объект</a></li>
                            
                            <li><a class="btna" id="get_meeting_arendator" href="#">Встречи <span class="label label-default">{{count_meet}}</span></a></li>
                            <li><a class="btna" id="get_tasking_arendator" href="#">Задачи <span class="label label-default">{{count_task}}</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Комментарии-->
                <div class="col-md-12 tabs-rule">
                    {% include 'single_arendator/comments.html' %}
                </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam minima nisi ab dolorem iste optio officia. Maxime ab corporis incidunt inventore explicabo qui velit, ipsa sapiente unde numquam accusamus, earum commodi voluptatibus, odit nemo at eum nulla amet iste pariatur. Voluptatum natus aspernatur quae explicabo, inventore magni, vel quia quos quo itaque adipisci ipsam. At culpa, provident non quos blanditiis nesciunt, eligendi dolor ea, quas est delectus doloribus quaerat dolorem temporibus soluta! Praesentium maxime ut aperiam, iusto natus vitae quod!</div>
    {% endblock content %}
{% block extra_js %}
    <script>
    $(function() {
        $("#typeobj").selectmenu();
        $(".tarea-multiple").select2();
        $("#idobj").selectmenu();
        $("#actual").selectmenu();
        $("#stat").selectmenu();
        $("#speed").selectmenu();
        $("#street").selectmenu();
        $("#typebuild").selectmenu();
        $("#peresmotr").datepicker();
        $("#call-phone").datepicker();
        $(".multiple").select2();
        $(".extend-block").click(function() {
            var x = $(".extended-search").css('height');
            console.log(x);
            if (x == '0px') {
                $(".extended-search").css('height', '');
            } else {
                $(".extended-search").css('height', '0px');
            }

        });

    });
    </script>
    <script>
    $(document).ready(function() {
        $('.popup-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1]
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });

        $('.delivery-pre').magnificPopup({
          delegate: 'a',
          removalDelay: 500, //delay removal by X to allow out-animation
          callbacks: {
            beforeOpen: function() {
               this.st.mainClass = this.st.el.attr('data-effect');
            }
          },
          midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
        });

        $(document).on('change', '#call-date-{{ single_arendator.id }}', function(event) {
            event.preventDefault();
            var date = $(this).val();
            var id = 'peresmotr-'+'{{ single_arendator.id }}';
            var data = {
                'date': date,
                'id': id
            }
            $.get('change_call_date', data);
        });

        $(document).on('change', '#term-{{ single_arendator.id }}', function(event) {
            event.preventDefault();
            var date = $(this).val();
            var id = '{{ single_arendator.id }}';
            var data = {
                'date': date,
                'id': id
            }
            $.get('change_term_date', data);
        });

        $(document).on('change', '#type-state', function(event) {
            event.preventDefault();
            var type_state = $(this).val();
            var id = '{{ single_arendator.id }}';
            var data = {
                'type_state': type_state,
                'id': id
            }
            $.get('change_type_state', data);
        });

        $('ul').on('click', '.btna', function(event) {
            event.preventDefault();
            $(this).parents('ul').children('li').removeClass('tabs-active');
            $(this).parent('li').addClass('tabs-active');
            var get_id = $(this).attr('id');
            $.get(get_id, {"id_arendator":{{ single_arendator.id }}}, function(data) {
                $('.tabs-rule').fadeOut('200', function() {
                    $(this).html('');
                    $(this).html(data);
                    $(this).fadeIn('200');
                });
            });
        });

        $('.tabs-rule').on('click', '#send_comment', function(event) {
            event.preventDefault();
            var text_comment = $('#text_comment').val();
            var data_comment = {
                "text_comment": text_comment,
                "id_user": {{ user.id }},
                "id_single_obj": {{ single_arendator.id }},
                "type_tabs": $('.tabs-rule').children().attr('type-tabs')
            };
            $.post('add_single_arendator_comment', data_comment, function(data) {
                var data = jQuery.parseJSON(data);
                $('.comment_add').children().last().removeClass('last-comments');
                $('.comment_add').prepend('<div style="display: none;" class="comments-item last-comments"><div class="col-md-1"><div class="comments-avatar"><img src="/media/'+data.image+'" alt="" width="50px;"></div></div><div class="col-md-11"><h4 class="comments-name">'+data.author+'</h4><p class="comments-text">'+data.text+'</p><div class="comments-edit"><a class="a" id="del_comment_'+data.id_comment+'" href="#"><i class="fa fa-times"></i></a></div><div class="comments-time"><i class="fa fa-clock-o"></i>'+data.date+'</div></div></div>')
                $('.comments-item').fadeIn('slow');
                if ($('.tabs-rule').children().attr('type-tabs') == 'comments'){
                    var count_comment = parseInt($('#get_comment').children('span').text())+1;
                    $('#get_comment').children('span').text(count_comment);
                }
            });
        });
        $('.tabs-rule').on('click', '.a', function(event) {
            event.preventDefault();
            var hide_del_comment = $(this).parents('.comments-item');
            $.post('del_comment', {"id_comment": $(this).attr('id')}).success( function (data) {
                hide_del_comment.fadeOut('slow', function () {
                    this.remove();
                    if ($('.tabs-rule').children().attr('type-tabs') == 'comments'){
                        var count_comment = parseInt($('#get_comment').children('span').text())-1;
                        $('#get_comment').children('span').text(count_comment);
                    }
                });
            })
        });
    });
    </script>
    <script src="{% static "js/jquery-ui-timepicker-addon.js" %}"></script>
    <script src="{% static "js/single_arendator.js" %}"></script>
    {% endblock extra_js %}