{% extends "homes/base.html" %}

{% block title %}<title>Написать сообщение</title>{% endblock title %}

{% block extra_css %}{% endblock extra_css %}


{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li><a href="{% url "setting" %}">Настройки</a></li>
                        <li><a href="{% url "list_setting_superadmin" %}">Настройки для суперадминистратора</a></li>
                        <li class="active">Написать сообщение</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-head">Написать   <span>сообщение</span></h1>
                </div>
            </div>
            <form id="send_form_connect"  action="save_connect" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <label for="">Email</label>
                        <i style="color:red;">{{ form.email.errors.as_text }}</i>
                        {{ form.email }}
                    </div>
                </div>

                <br>
                <div class="row">
{#                    <div class="col-md-offset-9 col-md-3"><a id="save_all_to_call" href="" class="btn btn-green">Сохранить</a></div>#}
                    <div class="col-md-offset-9 col-md-3"><input name="save_all_to_connect" class="btn btn-green" type="submit" value="Сохранить"></div>

                </div>
            </form>
        </div>
    </section>
    <br>
    <br>
    <br>




{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function() {
            $('#save_all_to_connect').on('click', function (event) {
                event.preventDefault();
                var msg   = $('#send_form_cconnect').serialize();
                $.post('save_cconnect', msg)
            })
        });
    </script>
{% endblock extra_js %}