//Main Colors
$clr-green: #40d3b7;
$clr-red: #f86b4f;
$clr-orange: #fccd1b;
$clr-blue: #6dc1ed;
$clr-darkblue: #2969b0;
$clr-purple: #9265b8;

//Font Colors
$f-clr-main: #3a3939;
$f-clr-grey: #767676;
$f-clr-white: #fff;


//More
$border-r: 2px;
$border-radius-base: $border-r;
$shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);


