{% extends "homes/base.html" %}

{% block title %}<title>Сервисы/Парсер hi.dn.ua </title>{% endblock title %}

{% load static from staticfiles %}
{% load get_value %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li><a href="{% url "services" %}">Сервисы</a></li>
                        <li class="active">Парсер hi.dn.ua</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-head">Парсер hi.dn.ua</h1>
                    {# {% if  user.myuser.type_user.id == 2 %} #}
                    {# <div class="col-md-4" style="float: right"> #}
                        {# <a href="{% url 'setting_olx' %}" class="setting-link"> #}
                            {# <div class="setting-section"> #}
                                {# <div class="setting-icon col-md-4" style="height: 80px; font-size: 40px;"> #}
                                    {# <i class="fa fa-cog"></i> #}
                                {# </div> #}
                                {# <div class="setting-text col-md-8"> #}
                                    {# <h3>Настройки</h3> #}
                                    {# <p></p> #}
                                {# </div> #}
                            {# </div> #}
                        {# </a> #}
                    {# </div> #}
                    {# {% endif %} #}
                </div>
            </div>
            <div class="row">
                <form id="parse_form" action="" method="post">
                    <div class="col-md-4">
                        <label class="col-md-6" for="">Раздел</label>
                        <select name="id_part" id="id_part">
                            <option value="1">Аренда</option>
                            <option value="2">Продам 1-комн. кв.</option>
                            <option value="3">Продам 2-комн. кв.</option>
                            <option value="4">Продам 3-комн. кв.</option>
                            <option value="5">Продам 4-комн. кв.</option>
                            <option value="6">Продам дома</option>
                            <option value="7">Меняю</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-6" for="">Исключать</label>
                        <select name="id_except" id="id_except">
                            <option value="1">Маклера</option>
                            <option value="2">Обекты</option>
                            <option value="3">Все</option>
                        </select>
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <div>
                        <input type="hidden" value="1" name="id_page" id="numb_page">
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <a id="parse" href="" class="btn btn-green" style="float: right">OK</a>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table table-striped table-bordered table-hover task">
                        <thead>
                            <tr>
                                {# <th class="col-md-1">#</th> #}
                                <th>Объявления Краматорска</th>
                                <th>Телефон</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody id="include_parse_text">
                        </tbody>
                    </table>
                    <div class="col-md-offset-5" id="wait_icon"></div>
                    <div class="col-md-offset-5" id="more_icon"></div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

{% endblock content %}
{% block extra_js %}
    <script src="{% static "js/parser_hi_dn_ua.js" %}"></script>
{% endblock extra_js %}