{% extends "homes/base.html" %}

{% load static from staticfiles %}

{% block title %}<title>Сервисы</title>{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li class="active">Сервисы</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <h1 class="section-head">Сервисы</h1>
                </div>
                <div class="col-md-6">
                    <a href="{% url "parser_olx" %}" class="setting-link">
                        <div class="setting-section">
                            <div class="setting-icon col-md-4">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                            <div class="setting-text col-md-8">
                                <h3>Парсер OLX</h3>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                {% if hi_dn_ua %}
                    <div class="col-md-6">
                        <a href="{% url "parser_hi_dn_ua" %}" class="setting-link">
                            <div class="setting-section">
                                <div class="setting-icon col-md-4">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                                <div class="setting-text col-md-8">
                                    <h3>Парсер hi.dn.ua</h3>
                                    <p></p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <br>
    <br>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}
