{% extends "homes/base.html" %}

{% block title %}<title>Настройки парсера OLX</title>{% endblock title %}

{% load static from staticfiles %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li><a href="{% url "services" %}">Сервисы</a></li>
                        <li><a href="{% url "parser_olx" %}">Парсер OLX</a></li>
                        <li class="active">Настройки парсера OLX</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="messageServer"></div>
                <div class="col-md-12">
                        <h1 class="section-head">Настройки парсера OLX</h1>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">ГОРОД</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="sity_conf" value="{{ config_parser.SITY }}">
                    </div>
                    <div class="col-md-4">
                        <input id="sity_conf_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SITE_URL</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="SITE_URL" value="{{ config_parser.SITE_URL }}">
                    </div>
                    <div class="col-md-4">
                        <input id="SITE_URL_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">AJAX_PHONE</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="AJAX_PHONE" value="{{ config_parser.AJAX_PHONE }}">
                    </div>
                    <div class="col-md-4">
                        <input id="AJAX_PHONE_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_GETLINK_CATEGORIES</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="SELECTOR_GETLINK_CATEGORIES" value="{{ config_parser.SELECTOR_GETLINK_CATEGORIES }}">
                    </div>
                    <div class="col-md-4">
                        <input id="SELECTOR_GETLINK_CATEGORIES_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_GETTEXT_CATEGORIES</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="SELECTOR_GETTEXT_CATEGORIES" value="{{ config_parser.SELECTOR_GETTEXT_CATEGORIES }}">
                    </div>
                    <div class="col-md-4">
                        <input id="SELECTOR_GETTEXT_CATEGORIES_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_GETLINK_ARTICLES</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="SELECTOR_GETLINK_ARTICLES" value="{{ config_parser.SELECTOR_GETLINK_ARTICLES }}">
                    </div>
                    <div class="col-md-4">
                        <input id="SELECTOR_GETLINK_ARTICLES_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_SITY</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="SELECTOR_SITY" value="{{ config_parser.SELECTOR_SITY }}">
                    </div>
                    <div class="col-md-4">
                        <input id="SELECTOR_SITY_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_TITLE</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="SELECTOR_TITLE" value="{{ config_parser.SELECTOR_TITLE }}">
                    </div>
                    <div class="col-md-4">
                        <input id="SELECTOR_TITLE_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_DATE</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="SELECTOR_DATE" value="{{ config_parser.SELECTOR_DATE }}">
                    </div>
                    <div class="col-md-4">
                        <input id="SELECTOR_DATE_btn" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script src="{% static "js/parser_olx.js" %}"></script>
{% endblock extra_js %}